<div class="row" ng-controller="MarathonsController as vm">
    <div class="col-md-9">
        <table class="table table-bordered">
            <tr ng-repeat="marathon in vm.marathons" ng-class="{'bg-success': marathon.future, 'bg-danger': !marathon.future}" ng-click="vm.getWeather(marathon)">
                <td>{{marathon.id}}</td>
                <td>{{marathon.fromNow}}</td>
                <td>{{marathon.format}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-3" ng-if="vm.weather">
        <table class="table table-bordered">
            <tr class="bg-info">
                <td>
                    {{vm.weather.city}}, {{vm.weather.description}}
                    <br />
                    {{vm.weather.temp}}&deg;C
                </td>
                <td><img src="http://openweathermap.org/img/w/{{vm.weather.icon}}.png" alt="{{vm.weather.icon}}"></td>
            </tr>
        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="javascripts/moment.min.js"></script>
<script src="javascripts/marathons/marathons.controller.js"></script>