extends layout

block content
  div.container
    h1= title

    div(ng-app='weather-boiling-app')
      include _pace-calculator.html
      include _marathons.html
      script(src='javascripts/app.module.js')
    div#app
    script(src='javascripts/bundle.js')
    footer
      small#moved-to-london
      small#version= version
      script(src='javascripts/footer.js')
