extends layout

block content
  div.container
    h1= title

    div(ng-app='weather-boiling-app')
      include _pace-calculator.html
      div.row
        div.col-md-12 &nbsp;
      include _marathons.html
      script(src='javascripts/app.module.js')