extends layout

block content
  h1= title
  p Welcome to #{title}

  div(ng-app='weather-boiling-app')
    include _marathons.html
    include _pace-calculator.html
    script(src='javascripts/app.module.js')